*,*::before,*::after {
  box-sizing: border-box;
}
:root{
  --transition: all 0.3s linear;
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --radius: 0.25rem;
  --clr-white: #fff;
}
body {
  font-family:'Roboto',sans-serif;
  margin: 0;
  padding: 0;
}
.hero {
  background:url(./acro.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.header {
  width:95%;
  margin: 0 auto;
  padding: 2em 0;
}
.header a{
   color:rgb(235, 229, 229);
}
.header button {
  color:white;
  background-color:rgb(249,94,39);
  border: none;
  height: 4em;
  padding: 0 2em ;
  margin: auto;
  margin-left: 3em;
  border-radius:3px;
  
}
.nav {
  display: flex;
  align-items: center;
}
.container.title{
  font-size:2.2rem;
  color:white;
  width: 95%;
  margin: 0 auto;
 }

.rowTitle {
  max-width: 60%;
  padding-top:1em;
  margin:0;
}
.rowTitle h1  {
  font-weight:100;
  font-family: Roboto Slab,Georgia,"Times New Roman",Times,serif;
  padding-bottom:1rem;
  margin:0;
}
.rowTitle p {
  text-transform: uppercase;
  letter-spacing: 5px;
  color:#8a9499ff;
  font-size:1.25rem;
  }
.row {
    display: flex;
    justify-content:space-between;
}

.icon{
  margin-left:0.25em;
}
aside {
  padding-left: 0 !important;
}

.hideSubMenu {
  height: 0;
  overflow: hidden;
  transition: all 0.
}

li,
a,
.submenu.show h4
 {
  list-style-type: none;
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: capitalize;
 }


.submenu {
  background: rgb(41, 40, 40);
  position: absolute;
  transform: translateX(-50%);
  z-index: 3;
  display: none;
  padding: 2rem;
  border-radius: var(--radius);
  transition: var(--transition);
  
}
.submenu::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}


.submenu.show, .subSubMenu.show {
  display: block;
}
.subSubMenu {
  display:none;
}

.subSubMenu ul, .subSubMenu a{
  font-size: 0.85em;
  margin-top: 1em;
  padding-left: 0.75em;
}

.subcategory {
  width:220px;
  padding:0 !important;
  margin:0 !important;
  color:rgb(235, 229, 229); 
  }
.listName {
  width:90%
}

.subArrowIcon {
  width:10%
}
.submenuContainer{
padding:0;
}
.icon, .subArrowIcon {
  color:rgb(249,94,39) !important;
}
.subArrowIcon {
  color:rgb(249,94,39);
}