/* ********Variables start******* */
:root {
   --clr-primary-1: rgb(249,94,39);
   --clr-primary-2:rgb(37,40,46);
   --clr-primary-3:rgb(138,148,153);
   --clr-light:#fff;
}
/* ********Variables end******* */

*,*::before,*::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
   color: var(--clr-primary-2) !important;
   font-family:'Roboto',sans-serif;
   font-size: calc( 17px + (18 - 17) * ( (100vw - 600px) / ( 1280 - 600) ));
}
h1,h2 {
    letter-spacing: 0.05em !important;
    

}
button {
    padding:1em 2em;
    border:solid 0.1px var(--clr-primary-1) ;
    border-radius:3px;
    box-shadow: none;
    background:none;
}
.container{
    width:95vw;
    margin:auto;
    padding: 3rem 0;
}
.row {
    display: flex;
}
a{
   text-decoration: none; 
}
li {
    list-style: none;
}
/* ******************HERO start************ */
.hero {
  background:url(./acro.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 95vh;
}
/* ******************HEADER start************ */
.header {
    display: block;
    position: fixed;
    width:100%;
    margin: 0 auto;
    background-color: white;
    padding: 0.75em 1em;
    transition: all 0.3s ease-out;
    transform-style: inherit;
}
nav, header button {
    display: none;
}
.hamburger{
 position:absolute;
 height:40px;
 width:40px;
 top:50%;
 right:20px;
}
.hamburger-inner
,.hamburger-inner::before,.hamburger-inner::after
 {
    width: 40px;
    height: 4px;
    display: block;
    position: absolute;
    border-radius: 4px;
    background-color: #656b6eff;
    transition-duration: 250ms;
    transition-property: top, bottom, transform;
    transition-timing-function: cubic-bezier(.3,0,.7,1);
}

.hamburger-inner::after {
    content: "";
    margin-top:10px;
 }
.hamburger-inner::before {
    content: "";
    margin-top:-10px;
 }

/* .collapsedHeader {
    
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.2); 
    border:solid 2px red;
    width:400px;
    position:absolute;
    z-index: 100;
    margin-left:calc(100vw - 400px);
} */


/* ******************HEADER end************** */
/* ******************HERO TITLE start************** */
.title {
    padding: 7em 0;
    width:80vw;
    max-width:900px !important;
    margin-left:2rem;
}
.hero_text {
    font-size: calc( 17px + (20 - 17) * ( (100vw - 600px) / ( 1280 - 600) ));
    text-transform: uppercase;
    letter-spacing:0.4em !important;
    color:var(--clr-primary-3);
    margin-bottom: 1.25rem;
}
.hero_title{
    font-size:calc( 50px + (68 - 50) * ( (100vw - 600px) / ( 1280 - 600) ));
    color: var(--clr-light);
    font-weight: 300;
    line-height: 1.167;
    margin-bottom: calc(4.25rem/2);
    letter-spacing: 0em;
}
.hero_linksButton ul {
    display: flex;
    flex-wrap: wrap;
}
.hero_linksButton a {
    font-size:0.92rem;
    font-weight: 300;
    color: var(--clr-primary-1);
    text-transform: capitalize;
 }
.hero_linksButton button {
    margin:0 2em 0.8em 0;
    border:solid 0.1px rgba(249, 95, 39, 0.5) 
 }
.hero_linksButton button:hover {
    margin:0 2em 0.8em 0;
    border:solid 0.1px var(--clr-primary-1); 
 }
/* ******************HERO TITLE end************** */
/* ******************HERO end************ */
